In [94]:
import pandas as pd
df = pd.read_excel('Medals.xlsx')
df

d:\ProgramFile\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

In [95]:
df = (
    df
    .sort_values('Total', ascending=False).head(10)
    .loc[:,['Team/NOC','Gold','Silver','Bronze']]
)
df

                     Team/NOC  Gold  Silver  Bronze
0    United States of America    39      41      33
1  People's Republic of China    38      32      18
4                         ROC    20      28      23
3               Great Britain    22      21      22
2                       Japan    27      14      17
5                   Australia    17       7      22
9                       Italy    10      10      20
8                     Germany    10      11      16
6                 Netherlands    10      12      14
7                      France    10      12      11

In [96]:
team = df['Team/NOC'].to_list()
medal = df.iloc[:,[1,2,3]].apply(list,axis=1).to_list()
medal
# glod = df['Gold'].to_list()
# silver = df['Silver'].to_list()
# bronze = df['Bronze'].to_list()

[[39, 41, 33],
 [38, 32, 18],
 [20, 28, 23],
 [22, 21, 22],
 [27, 14, 17],
 [17, 7, 22],
 [10, 10, 20],
 [10, 11, 16],
 [10, 12, 14],
 [10, 12, 11]]

In [97]:
def func(i):
    if i==0:
        return 'Gold'
    elif i ==1:
        return 'Silver'
    elif i == 2:
        return 'Bronze'

In [98]:
val = []
for t, m in zip(team, medal):
    for i in range(3):
        v = {
            "variety": t,
            "yield": m[i],
            "site": func(i)
        },
        val.append(v)
        # print(v)
# break
    # val = {
    #     'yield': glod,
    #     'variety': team,
    #     'site':
    # }

In [100]:
import json
with open ('demo.json') as f:
    print(json.dumps(val))

[[{"variety": "United States of America", "yield": 39, "site": "Gold"}], [{"variety": "United States of America", "yield": 41, "site": "Silver"}], [{"variety": "United States of America", "yield": 33, "site": "Bronze"}], [{"variety": "People's Republic of China", "yield": 38, "site": "Gold"}], [{"variety": "People's Republic of China", "yield": 32, "site": "Silver"}], [{"variety": "People's Republic of China", "yield": 18, "site": "Bronze"}], [{"variety": "ROC", "yield": 20, "site": "Gold"}], [{"variety": "ROC", "yield": 28, "site": "Silver"}], [{"variety": "ROC", "yield": 23, "site": "Bronze"}], [{"variety": "Great Britain", "yield": 22, "site": "Gold"}], [{"variety": "Great Britain", "yield": 21, "site": "Silver"}], [{"variety": "Great Britain", "yield": 22, "site": "Bronze"}], [{"variety": "Japan", "yield": 27, "site": "Gold"}], [{"variety": "Japan", "yield": 14, "site": "Silver"}], [{"variety": "Japan", "yield": 17, "site": "Bronze"}], [{"variety": "Australia", "yield": 17, "site": "Gold"}], [{"variety": "Australia", "yield": 7, "site": "Silver"}], [{"variety": "Australia", "yield": 22, "site": "Bronze"}], [{"variety": "Italy", "yield": 10, "site": "Gold"}], [{"variety": "Italy", "yield": 10, "site": "Silver"}], [{"variety": "Italy", "yield": 20, "site": "Bronze"}], [{"variety": "Germany", "yield": 10, "site": "Gold"}], [{"variety": "Germany", "yield": 11, "site": "Silver"}], [{"variety": "Germany", "yield": 16, "site": "Bronze"}], [{"variety": "Netherlands", "yield": 10, "site": "Gold"}], [{"variety": "Netherlands", "yield": 12, "site": "Silver"}], [{"variety": "Netherlands", "yield": 14, "site": "Bronze"}], [{"variety": "France", "yield": 10, "site": "Gold"}], [{"variety": "France", "yield": 12, "site": "Silver"}], [{"variety": "France", "yield": 11, "site": "Bronze"}]]

In [101]:
val

[({'variety': 'United States of America', 'yield': 39, 'site': 'Gold'},),
 ({'variety': 'United States of America', 'yield': 41, 'site': 'Silver'},),
 ({'variety': 'United States of America', 'yield': 33, 'site': 'Bronze'},),
 ({'variety': "People's Republic of China", 'yield': 38, 'site': 'Gold'},),
 ({'variety': "People's Republic of China", 'yield': 32, 'site': 'Silver'},),
 ({'variety': "People's Republic of China", 'yield': 18, 'site': 'Bronze'},),
 ({'variety': 'ROC', 'yield': 20, 'site': 'Gold'},),
 ({'variety': 'ROC', 'yield': 28, 'site': 'Silver'},),
 ({'variety': 'ROC', 'yield': 23, 'site': 'Bronze'},),
 ({'variety': 'Great Britain', 'yield': 22, 'site': 'Gold'},),
 ({'variety': 'Great Britain', 'yield': 21, 'site': 'Silver'},),
 ({'variety': 'Great Britain', 'yield': 22, 'site': 'Bronze'},),
 ({'variety': 'Japan', 'yield': 27, 'site': 'Gold'},),
 ({'variety': 'Japan', 'yield': 14, 'site': 'Silver'},),
 ({'variety': 'Japan', 'yield': 17, 'site': 'Bronze'},),
 ({'variety': 'Australia', 'yield': 17, 'site': 'Gold'},),
 ({'variety': 'Australia', 'yield': 7, 'site': 'Silver'},),
 ({'variety': 'Australia', 'yield': 22, 'site': 'Bronze'},),
 ({'variety': 'Italy', 'yield': 10, 'site': 'Gold'},),
 ({'variety': 'Italy', 'yield': 10, 'site': 'Silver'},),
 ({'variety': 'Italy', 'yield': 20, 'site': 'Bronze'},),
 ({'variety': 'Germany', 'yield': 10, 'site': 'Gold'},),
 ({'variety': 'Germany', 'yield': 11, 'site': 'Silver'},),
 ({'variety': 'Germany', 'yield': 16, 'site': 'Bronze'},),
 ({'variety': 'Netherlands', 'yield': 10, 'site': 'Gold'},),
 ({'variety': 'Netherlands', 'yield': 12, 'site': 'Silver'},),
 ({'variety': 'Netherlands', 'yield': 14, 'site': 'Bronze'},),
 ({'variety': 'France', 'yield': 10, 'site': 'Gold'},),
 ({'variety': 'France', 'yield': 12, 'site': 'Silver'},),
 ({'variety': 'France', 'yield': 11, 'site': 'Bronze'},)]

In [ ]:
[[{"variety": "United States of America", "yield": 39, "site": "Gold"}], [{"variety": "United States of America", "yield": 41, "site": "Silver"}], [{"variety": "United States of America", "yield": 33, "site": "Bronze"}], [{"variety": "People's Republic of China", "yield": 38, "site": "Gold"}], [{"variety": "People's Republic of China", "yield": 32, "site": "Silver"}], [{"variety": "People's Republic of China", "yield": 18, "site": "Bronze"}], [{"variety": "ROC", "yield": 20, "site": "Gold"}], [{"variety": "ROC", "yield": 28, "site": "Silver"}], [{"variety": "ROC", "yield": 23, "site": "Bronze"}], [{"variety": "Great Britain", "yield": 22, "site": "Gold"}], [{"variety": "Great Britain", "yield": 21, "site": "Silver"}], [{"variety": "Great Britain", "yield": 22, "site": "Bronze"}], [{"variety": "Japan", "yield": 27, "site": "Gold"}], [{"variety": "Japan", "yield": 14, "site": "Silver"}], [{"variety": "Japan", "yield": 17, "site": "Bronze"}], [{"variety": "Australia", "yield": 17, "site": "Gold"}], [{"variety": "Australia", "yield": 7, "site": "Silver"}], [{"variety": "Australia", "yield": 22, "site": "Bronze"}], [{"variety": "Italy", "yield": 10, "site": "Gold"}], [{"variety": "Italy", "yield": 10, "site": "Silver"}], [{"variety": "Italy", "yield": 20, "site": "Bronze"}], [{"variety": "Germany", "yield": 10, "site": "Gold"}], [{"variety": "Germany", "yield": 11, "site": "Silver"}], [{"variety": "Germany", "yield": 16, "site": "Bronze"}], [{"variety": "Netherlands", "yield": 10, "site": "Gold"}], [{"variety": "Netherlands", "yield": 12, "site": "Silver"}], [{"variety": "Netherlands", "yield": 14, "site": "Bronze"}], [{"variety": "France", "yield": 10, "site": "Gold"}], [{"variety": "France", "yield": 12, "site": "Silver"}], [{"variety": "France", "yield": 11, "site": "Bronze"}]]